<div class="background" data-controller="play-pause toggle" data-action="click->toggle#toggleRemove click->toggle#hideOptions">
  <div class="checklist" data-action="click->toggle#toggleAdd"> 
    <div data-play-pause-target="checklists">
      <h5 class="title">Europe list</h5>
      <div class="inside">   
      <div class="scroll">
        <div class="d-none" data-toggle-target="form">
          <%= form_with model: @item, data: { controller:"toggle", action: "submit->toggle#submitForm" }, html: { class: "form-inline" } do |f| %>
            <%= f.text_field :title, class: "form-control", id:"firstinput"%>
            <%= hidden_field :commit, value: "submit" %>
          <% end %>
        </div>
        
        <div class="lists">
          <ul>
            <% @waiting_lists.sort_by { |item| -item[:id] }.each do |item| %>
              <li class="list" data-item-id="<%= item.id %>" data-controller="checked-list">  
                <%= form_for(item, url: item_path(item), method: :patch, html: { class: "status-form", data: { checked_list_target:"form", remote: true } }) do |f| %>
                  <div class="list-container d-flex align-items-center">
                    <div class="checkbox">
                    <%= f.check_box :completed, class: "status-checkbox", checked:item.completed, data: { checked_list_target: "checkbox" } %>
                    </div>
                    <%= f.label item.title, tabindex: "0" %>
                <% end %>
                <div class="ms-auto" data-controller="toggle"> 
                <%= form_for(item, url: item_path(item), method: :patch, html: { class: "status-form", data: { checked_list_target:"form", remote: true } }) do |f| %>     
                      <!-- Modal Functions Trigger -->
                      <div class="" type="button" data-action="click->toggle#showOptions" data-toggle-target="trigger" data-modal-item-id="<%= item.id %>">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        </svg>
                      </div>

                      <!-- Functions -->
                      <div class="functions d-none" data-toggle-target="functions">
                        <!-- Edit Form -->
                        <form action="<%= item_path(item) %>" method="post" class="delete-form" data-controller="confirmation" data-action="click->confirmation#confirm">
                          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                          <input type="hidden" name="_method" value="delete">
                          <button type="submit" class="delete-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                          </button>
                        </form>|

                        <!-- Delete Form -->
                        <form action="<%= item_path(item) %>" method="post" class="delete-form" data-controller="confirmation" data-action="click->confirmation#confirm">
                          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                          <input type="hidden" name="_method" value="delete">
                          <button type="submit" class="delete-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    </div>

    <!-- ã‚«ãƒ¼ãƒ‰ -->
    <div class="cards d-none" data-play-pause-target="cards">
      <div class="item-button" data-controller="shuttle-next">
        <% first_item = @waiting_lists.sort_by { |item| -item[:id] }.first %>
        <% if first_item %>
          <div class="item-title" data-shuttle-next-target="item" data-item-id="<%= first_item.id %>">
            <%= first_item.title %>
          </div>
          <% @waiting_lists.sort_by { |item| -item[:id] }.drop(1).each do |item| %>
            <div class="item-title d-none" data-shuttle-next-target="item" data-item-id="<%= item.id %>">
              <%= item.title %>
            </div>
          <% end %>
          <br>
          <%= form_for(first_item, url: item_path(first_item), method: :patch, html: { class: "status-form", data: { checked_list_target:"form", action: "click->status-form#submit" } }) do |f| %>
            <%= f.hidden_field :completed, value: true %> 
            <%= f.button class: "btn btn-primary btn-lg done-button", id: "done-button" do %>
              Done
            <% end %><!-- ãƒœã‚¿ãƒ³ã«ã‚¯ãƒ©ã‚¹ã¨IDã‚’è¿½åŠ  -->
          <% end %>

        <% else %>
          <p>ðŸŽ‰æº–å‚™å®Œäº†!ðŸŽ‰</p>
        <% end %>
      </div>
    </div>
  </div>
  

  <!-- å†ç”Ÿãƒœã‚¿ãƒ³ -->
  <div class="start">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#8298fd" class="bi bi-play-circle-fill" viewBox="0 0 16 16" data-action="click->play-pause#togglePlayPause" data-play-pause-target="icon">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
    </svg>
  </div>

  <audio>
    <source src="/audio/shuttle_run_start.mp3" type="audio/mpeg">
  </audio>

  <div class="bag" style="position: relative;">
    <!-- ãƒãƒƒã‚°èƒŒæ™¯ -->
    <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="#e0ecff" class="bi bi-suitcase-lg-fill" viewBox="0 0 16 16">
      <path d="M7 0a2 2 0 0 0-2 2H1.5A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14H2a.5.5 0 0 0 1 0h10a.5.5 0 0 0 1 0h.5a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2H11a2 2 0 0 0-2-2zM6 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zM3 13V3h1v10zm9 0V3h1v10z"/>
    </svg>

    <!-- ãƒ‘ãƒ¼ã‚·ãƒ£ãƒ« -->
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 250px; height: 200px; background-color: #e0ecff; z-index: 1;">
      <%= render partial: 'shared/done_list' %>
    </div>
  </div>
    
  <div class="approach">

      <!-- SVGã‚’å«ã‚€HTML -->


<div class="approach">
  <div class="gauge-container" data-controller="gauge-slide">
    <div class="gauge-slider">
      <div class="gauge-slider-inner" data-svg-gage-target="slider">
  <div class="people-way" data-controller="svg-gage" data-svg-gage-percentage="<%= @percentage %>">
    <% if @percentage == 100 %>
      <svg xmlns="http://www.w3.org/2000/svg" height="60" fill="currentColor" class="bi bi-person-arms-up" viewBox="0 0 16 16" data-svg-gage-target="svg">
        <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
        <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
      </svg>
    <% else %>
      <svg xmlns="http://www.w3.org/2000/svg" height="60" fill="currentColor" class="bi-bi-person-walking exclude-background" viewBox="0 0 16 16" data-svg-gage-target="svg">
        <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M6.44 3.752A.75.75 0 0 1 7 3.5h1.445c.742 0 1.32.643 1.243 1.38l-.43 4.083a1.8 1.8 0 0 1-.088.395l-.318.906.213.242a.8.8 0 0 1 .114.175l2 4.25a.75.75 0 1 1-1.357.638l-1.956-4.154-1.68-1.921A.75.75 0 0 1 6 8.96l.138-2.613-.435.489-.464 2.786a.75.75 0 1 1-1.48-.246l.5-3a.75.75 0 0 1 .18-.375l2-2.25Z"  transform="translate(0, 0)"/>
        <path d="M6.25 11.745v-1.418l1.204 1.375.261.524a.8.8 0 0 1-.12.231l-2.5 3.25a.75.75 0 1 1-1.19-.914zm4.22-4.215-.494-.494.205-1.843.006-.067 1.124 1.124h1.44a.75.75 0 0 1 0 1.5H11a.75.75 0 0 1-.531-.22Z"/>
      </svg>
    <% end %>
  </div>

  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= @percentage %>%;" aria-valuenow="<%= @percentage %>" aria-valuemin="0" aria-valuemax="100"><%= @percentage.to_i %>%</div>
  </div>
</div>
</div>